<div class="order">
    <div class="title">
        <h3>Items</h3>
        <mat-divider></mat-divider>
    </div>


    <ng-container *ngIf="cartDetails.length>0; else elseTemplate">
      <div class="items">
        <div *ngFor="let cart of cartDetails" class="item" id="{{cart.id}}">
          <div class="item_image">
              <img class="shine" src="{{cart.img}}"/>
          </div>
          <div class="item_content">
              <div class="main">
                  <div class="content">
                      <h3>{{cart.title}}</h3>
                      <div class="cont">
                        <div class="veg">{{cart.veg}}</div>
                        <div class="half">
                          <ng-container *ngIf="cart.half; else elseTemplate">
                              <mat-checkbox [checked]="!cart.isfull" (click)="half(cart.id)">Half</mat-checkbox>
                          </ng-container>
                          <ng-template #elseTemplate><h4></h4></ng-template>
                        </div>
                      </div>
                    </div>

                  <div class="count">
                      <div class="counter">
                          <div matRipple (click)="add(cart.id)">
                              <mat-icon>add</mat-icon>
                          </div>
                          <p>{{cart.count}}</p>
                          <div matRipple (click)="remove(cart.id)">
                              <mat-icon style="margin-top: -1px;">minimize</mat-icon>
                          </div>
                      </div>
                      <h4>₹ {{cart.count*cart.prize}}</h4>
                      <div matRipple class="addtocart" id="cart" (click)="removefromcart(cart.id)">  <mat-icon class="icon">add_shopping_cart</mat-icon> <p name="addtocart">remove</p>  </div>
                  </div>

              </div>

          </div>
      </div>
    </div>
    </ng-container>
    <ng-template #elseTemplate>
      <p style="font-size:30px; margin-top: 20px; margin-bottom: 20px; color: rgba(151, 151, 151, 0.801);">No Items</p>
    </ng-template>


    <!-- <div class="title">
        <h3 style="font-size: 13px;">Add-on</h3>
        <mat-divider></mat-divider>
    </div>
    <div class="items">

        <div class="item" id="cart.id" style="height: 70px;">
            <div class="item_image">
                <img class="shine" style="width: 60px; height: 60px;" src="../../assets/img/coke.png"/>
            </div>
            <div class="item_content">
                <div class="main">
                    <div class="content">
                        <h3>cart.title</h3>
                        <div class="veg" style="background-color: rgb(153, 92, 233);">Add on</div>
                    </div>

                    <div>
                        <div class="counter">
                            <div matRipple id="add">
                                <mat-icon>add</mat-icon>
                            </div>
                            <p>1</p>
                            <div matRipple id="remove">
                                <mat-icon style="margin-top: -9px;">minimize</mat-icon>
                            </div>
                        </div>
                        <h4>$ 230</h4>
                    </div>
                </div>


            </div>
        </div>





    </div> -->

    <div class="bottom">
      <div class="total-price">
          <h4>Total</h4>
          <p>₹ {{total}}</p>
      </div>
      <div matRipple (click)="initPay()"   class="placeorder">
          <h3>Place Order</h3>
          <mat-icon>contactless</mat-icon>
      </div>
    </div>


</div>

